.container{
    margin: 0 100px;
}
h1,a, .title-discreption, h2, footer{
    font-family: sans-serif;
}
/*Header*/
header{
    margin-bottom: 100px;
}
header h1{
    text-align: center;
}
nav{
    width: 75%;
    margin-left: 80px;
}
nav a{
    color: blue;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
}
nav .the-fourth-a{
    float: right;
}

/*Main*/
.article-content{
    width: 65%;
    margin-right: 85px;
    display: inline-block;
}
.aside-content{
    display: inline-block;
    width: 15%;
    vertical-align: top;
}
.title-discreption{
    font-weight: bold;
    font-size: 13px;
}
.aside-content img{
    display: block;
    margin: 10px 0px;
}
footer .icons{
    display: inline-block;
    border-right: 1px solid gray;
    padding-right: 50px;
}
.icons a{
    padding: 30px 15px;
}
.icons .fa-facebook-square{
    color:#1877f2;
}
.icons .fa-twitter-square{
    color: #1da1f2
}
.icons .fa-linkedin{
    color: #0077b5;
}
.icons .fa-instagram{
    color: #fd1d1d;
}
footer p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    left: 35%;
    display: inline-block;
}